---
import StepCard from "@components/sections/steps/StepCard.astro";
import { steps } from "@data";

const leftSteps = [];
const rightSteps = [];

for (const step of steps) step.position === "left" ? leftSteps.push(step) : rightSteps.push(step);
---

<section id="steps" class="steps-section">
  <h2>Manos a la obra</h2>
  <!-- <div>
    {steps.map((step, index) => <StepCard index={index} image={step.image} />)}
  </div> -->
</section>

<div class="steps">
  <div>
    {leftSteps.map((step, index) => <StepCard index={index} position="left" image={step.image} />)}
  </div>
  <div>
    {rightSteps.map((step, index) => <StepCard index={index} position="right" image={step.image} />)}
  </div>
</div>

<style>
  .steps-section {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    min-height: 100vh;
  }

  .steps-section > h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--text-hero-extra-large);
    text-align: center;
    max-width: 6ch;
    z-index: 1;
  }

  .steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: 100dvh;
    background-color: var(--neutral-50);
  }

  .steps > div {
    flex: 1;
    height: 100%;
    position: relative;
  }
</style>
