---
import { Image } from "astro:assets";

interface Props {
  index: string;
  image: {
    url: string;
    alt: string;
  };
  name: string;
  description: string;
  quantity: string;
}

const { index, image, name, description, quantity } = Astro.props;
const number = index.padStart(2, "0");
---

<article class="ingredient__card">
  <div>
    <aside>
      <span>{number}</span>
    </aside>
    <div>
      <header>
        <h3>{name}</h3>
        <h4>{quantity}</h4>
      </header>
      <section>
        <p>{description}</p>
        <figure> 
          <Image src={image.url} alt={image.alt} width={100} height={100} loading="lazy" decoding="async" />
        </figure>
      </section>
    </div>
  </div>
</article>

<style>
  .ingredient__card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    min-height: 100dvh;
  }

  .ingredient__card > div {
    display: flex;
    gap: 2rem;
  }

  .ingredient__card > div > aside {
    margin-top: 1rem;
  }

  .ingredient__card > div > div,
  .ingredient__card > div > div > header {
    display: flex;
    flex-direction: column;
  }

  .ingredient__card > div > div {
    gap: 2rem;
  }

  .ingredient__card > div > div > header {
    gap: 0.25rem;
  }

  .ingredient__card > div > div > header > h3 {
    position: relative;
    font-size: var(--text-display-medium);
    color: var(--primary-100);
  }

  .ingredient__card > div > div > header > h4 {
    font-size: var(--text-heading-small);
    font-weight: 600;
  }

  .ingredient__card > div > div > section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .ingredient__card > div > div > section > p {
    font-size: var(--text-body-large);
    color: var(--neutral-100);
  }

  .ingredient__card > div > div > section > figure {
    max-width: 600px;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    animation: moveUpAndDown 2s ease-in-out infinite alternate;
  }

  .ingredient__card > div > div > section > figure > img {
    width: 100%;
    height: 100%;
  }

  @keyframes moveUpAndDown {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-5px);
    }
  }
</style>
